doctype html

html(lang="en")
head
	title Select a article	 
	script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
	script(src="https://www.gstatic.com/charts/loader.js")
	script(src="/js/showOne.js")
body 
	h2 Simple Form 
	form(action='revision' method='GET')
		select(name='title')
			-for (var a of article){
				option(value=a.title) #{a.title}
			-}
			input(type = "submit")
			|  
			input(type = "reset" value = "Clear") 