doctype html

html(lang="en")
head
	title Select a article	 
body 
	h2 Simple Form 
	form(action='revision' method='GET')
		select(name='title')
			-for (var a of article){
				option(value=a.title) #{a.title}
			-}
			input(type = "submit")
			|  
			input(type = "reset" value = "Clear") 